<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>a</string>
	<string>an</string>
	<string>the</string>
	<string>am</string>
	<string>is</string>
	<string>are</string>
</array>
</plist>
